{%- for resource in target_provider_active_resources | selectattr('type', 'eq', 'droplet') -%}
resource "{{ supported_resource_types[resource.type] }}" "{{ resource.name }}" {
  image    = "{{ resource.image }}"
  name     = "{{ resource.name }}-${count.index + 1}"
  region   = "{{ resource.region }}"
  size     = "{{ resource.size }}"
  ssh_keys = {{ target_provider.global.ssh_keys | to_json }}
  tags     = {{ resource.groups | to_json }}
  count    = {{ resource.count | default(1) }}
}

{% endfor %}
{% for resource in target_provider_active_resources -%}
resource "ansible_host" "{{ resource.name }}" {
  for_each = {
    for index, droplet in {{ supported_resource_types[resource.type] }}.{{ resource.name }} : index => droplet.ipv4_address
  }

  name   = each.value
  groups = {{ resource.groups | to_json }}

  variables = {
    providerName = "{{ target_provider_name }}"
    providerType = "{{ target_provider.type }}"
  }
}

{% endfor %}