{%- for resource in target_provider_active_resources | selectattr('type', 'eq', 'droplet') -%}
resource "{{ supported_resource_types[resource.type] }}" "{{ resource.name }}" {
  image    = "{{ resource.image }}"
  name     = "{{ resource.name }}-${count.index + 1}"
  region   = "{{ resource.region }}"
  size     = "{{ resource.size }}"
  ssh_keys = {{ target_provider.global.ssh_keys | to_json }}
  tags     = {{ resource.groups | to_json }}
  count    = {{ resource.count | default(1) }}
}

{% endfor %}
{% for resource in target_provider_active_resources -%}
resource "ansible_host" "{{ resource.name }}" {
  for_each = {
    for index, droplet in {{ supported_resource_types[resource.type] }}.{{ resource.name }} : droplet.name => droplet.ipv4_address
  }

  name   = each.key
  groups = {{ resource.groups | to_json }}

  variables = {
    ansible_host  = each.value
    provider_name = "{{ target_provider_name }}"
    provider_type = "{{ target_provider.type }}"
  }
}

{% endfor %}