{%- for resource in target_provider_active_resources | selectattr('type', 'eq', 'server') -%}
resource "{{ supported_resource_types[resource.type] }}" "{{ resource.name }}" {
  image        = "{{ resource.image }}"
  name         = "{{ target_provider.name }}-{{ resource.name }}-${count.index + 1}"
  location     = "{{ resource.location }}"
  server_type  = "{{ resource.server_type }}"
  ssh_keys     = {{ target_provider.vars.ssh_keys | to_json }}
  
  public_net {
    ipv4_enabled = true
    ipv6_enabled = false
  }

  count    = {{ resource.count | default(1) }}
}

{% endfor %}
{% for resource in target_provider_active_resources -%}
resource "ansible_host" "{{ resource.name }}" {
  for_each = {
    for index, server in {{ supported_resource_types[resource.type] }}.{{ resource.name }} : server.name => server.ipv4_address
  }

  name   = each.key
  groups = {{ resource.groups | to_json }}

  variables = {
    provider_name = "{{ target_provider_name }}"
    provider_type = "{{ target_provider.type }}"
    ansible_host = each.value
    resource_type = "{{ resource.type }}"
  }
}

{% endfor %}